#us-map{
  display: block;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
path:hover, circle:hover {
  stroke: #002868 !important;
  stroke-width:2px;
  stroke-linejoin: round;
  fill: #002868 !important;
  cursor: pointer;
}
#path67 {
  fill: none !important;
  stroke: #A9A9A9 !important;
  cursor: default;
}
#info-box {
  /* position: relative; */
  /* top: 0px;
  left: 0px;  */
  /* z-index: 1;
  background-color: #ffffff;
  border-radius: 5px;
  padding: 5px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  font-family: arial; */
}

.svg_container {
    position: static;
}


.nav_text {
    font-size: 24px;
}

 /* this is the main container for the rep information */
 .rep_info {
     /* style the container here */
     font-size: 1.2em;
 }
 /* this is the state name in the info box */
 .state_name {
  font-size: 1.2em;
 }

 .rep_name {
   font-size: 1em;
 }

 .rep_email {
  font-size: 1em;
 }
 .rep_number {
   font-size: 1em;
 }

 .rep_company_name {
   font-size: 1em;
 }

.company_link {
  font-size: 1em;
}

/* map container  */

.map_container_grid {
  display: grid; 
  grid-template-columns: 2fr 1fr;
}

#two_reps {
  display: grid;
  grid-template-columns: 1fr 1fr;
}


/* media queries */

@media only screen and (max-width: 860px) {
  .map_container_grid {
    display: flex;
    flex-direction: column;
  }
  #order_container_map {
    order: 2 !important;
  }

  #two_reps {
    display: flex !important;
    flex-direction: column;
  }

  .info_box_container {
    align-self: center;
    min-height: 180px;
  }
}